
<div class="card">
    <div class="card-header disabled" 
        data-toggle="collapse" 
        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
        id="crop-resize">
        <h5 class="mb-0">
            <i class="bi bi-aspect-ratio"></i>
            Color Correction
        </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="crop-resize" data-parent="#accordion">
        <div class="card-body">
            <div class="container">
                <div class="row g-0">
                    <div class="container mt-3">
                        <label for="green-input" class="custom-range-label" id='green-label'>
                            <span  class="label"> Green Channel</span>
                        </label>
                        <canvas id="histogram" width="400" height="0"></canvas>
                        <div class="container mt-3">
                            <label for="green-hue" class="custom-range-label" id='green-hue-label'>
                                <span  class="label"> Hue</span>
                                <span  class="value">0</span>
                                
                            </label>
                            <input type="range" 
                                min="0" 
                                max="1" 
                                value='0'
                                step='0.1'
                                class="custom-range-input" id="green-hue" name="points1" >
                        </div>
                        <div class="container mt-3">
                            <label for="green-saturation-1" class="custom-range-label" id='green-saturation-1-label'>
                                <span  class="value">0</span>
                                
                            </label>
                            <input type="range" 
                                min="0" 
                                max="130" 
                                value='0'
                                step='1'
                                class="custom-range-input" id="green-saturation-1" name="points1" >

                                <label for="green-saturation-2" class="custom-range-label" id='green-saturation-2-label'>
                                    <span  class="value">255</span>
                                </label>    
                                <input type="range" 
                                    min="130" 
                                    max="255" 
                                    value='255'
                                    step='1'
                                    class="custom-range-input" id="green-saturation-2" name="points1" >
                        </div>
                        <button type="button" id='green-button' class="btn btn-outline-dark">
                            <span  class="label"> Auto Adjust</span>
                        </button>
                    </div>
                    <div class="container mt-3">
                        <canvas id="histogram_b" width="400" height="0"></canvas>
                        <label for="blue-input" class="custom-range-label" id='blue-label'>
                            <span  class="label"> Blue Channel</span>
                        </label>
                        <div class="container mt-3">
                            <label for="blue-hue" class="custom-range-label" id='blue-hue-label'>
                                <span  class="label"> Hue</span>
                                <span  class="value">0</span>
                                
                            </label>
                            <input type="range" 
                                min="0" 
                                max="1" 
                                value='0'
                                step='0.1'
                                class="custom-range-input" id="blue-hue" name="points1" >
                        </div>
                        <div class="container mt-3">
                            <label for="blue-saturation-1" class="custom-range-label" id='blue-saturation-1-label'>
                                <span  class="value">0</span>
                                
                            </label>
                            <input type="range" 
                                min="0" 
                                max="130" 
                                value='0'
                                step='1'
                                class="custom-range-input" id="blue-saturation-1" name="points1" >

                                <label for="blue-saturation-2" class="custom-range-label" id='blue-saturation-2-label'>
                                    <span  class="value">255</span>
                                </label>    
                                <input type="range" 
                                    min="130" 
                                    max="255" 
                                    value='255'
                                    step='1'
                                    class="custom-range-input" id="blue-saturation-2" name="points1" >
                        </div>
                        <button type="button" id='blue-button' class="btn btn-outline-dark">
                            <span  class="label"> Auto Adjust</span>
                        </button>
                    </div>
                    <div class="container mt-3">
                        <canvas id="histogram_r" width="400" height="0"></canvas>
                        <label for="red-input" class="custom-range-label" id='red-label'>
                            <span  class="label"> Red Channel</span>
                        </label>
                        <div class="container mt-3">
                            <label for="red-hue" class="custom-range-label" id='red-hue-label'>
                                <span  class="label"> Hue</span>
                                <span  class="value">0</span>
                                
                            </label>
                            <input type="range" 
                                min="0" 
                                max="1" 
                                value='0'
                                step='0.1'
                                class="custom-range-input" id="red-hue" name="points1" >
                        </div>
                        <div class="container mt-3">
                            <label for="red-saturation-1" class="custom-range-label" id='red-saturation-1-label'>
                                <span  class="value">0</span>
                                
                            </label>
                            <input type="range" 
                                min="0" 
                                max="130" 
                                value='0'
                                step='1'
                                class="custom-range-input" id="red-saturation-1" name="points1" >

                                <label for="red-saturation-2" class="custom-range-label" id='red-saturation-2-label'>
                                    <span  class="value">255</span>
                                </label>    
                                <input type="range" 
                                    min="130" 
                                    max="255" 
                                    value='255'
                                    step='1'
                                    class="custom-range-input" id="red-saturation-2" name="points1" >
                        </div>
                        
                        <button type="button" id='red-button' class="btn btn-outline-dark">
                            <span  class="label"> Auto Adjust</span>
                        </button>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
</div>
<div class="card" >
    <div  class="card-header" 
        data-toggle="collapse" 
        data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"
        id="headingFour">
        <h5 class="mb-0">
            <i class="bi bi-palette"></i>
            Others
        </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
            <div class="container mt-3">
                <label for="brightness-input" class="custom-range-label" id='brightness-label'>
                    <span  class="label"> Brightness</span>
                    <span  class="value">1</span>
                    
                </label>
                <input type="range" 
                    min="0" 
                    max="4.0" 
                    value='1'
                    step='0.1'
                    class="custom-range-input" name="points1" id='brightness-input'>
            </div>
           
            
            <div class="container mt-3">
                <label for="contrast-input" class="custom-range-label" id='contrast-label'>
                    <span  class="label"> Contrast</span>
                    <span  class="value">1</span>
                    
                </label>
                <input type="range" 
                    min="0" 
                    max="2" 
                    value='1'
                    step='0.1'
                    class="custom-range-input" id="contrast-input" name="points1" id='contrast-input'>
            </div>
            <div class="container mt-3">
                <label for="sharpness-input" class="custom-range-label" id='sharpness-label'>
                    <span  class="label"> Sharpness</span>
                    <span  class="value">1</span>
                    
                </label>
                <input type="range" 
                    min="1" 
                    max="15" 
                    value='1'
                    step='0.1'
                    class="custom-range-input" id="sharpness-input" name="points1" id='sharpness-input'>
            </div>
             <div class="container mt-3">
                <label for="saturation-input" class="custom-range-label" id='saturation-label'>
                    <span  class="label"> Saturation</span>
                    <span  class="value">1</span>
                    
                </label>
                <input type="range" 
                    min="0" 
                    max="3" 
                    value='1'
                    step='0.1'
                    class="custom-range-input" id="saturation-input" name="points1" >
            </div>
            <div class="container mt-3">
                <label for="exposure-input" class="custom-range-label" id='exposure-label'>
                    <span  class="label"> Exposure</span>
                    <span  class="value">1</span>
                    
                </label>
                <input type="range" 
                    min="0" 
                    max="4" 
                    value='1'
                    step='0.1'
                    class="custom-range-input" id="exposure-input" name="points1" >
            </div>
            <div class="container mt-3">
                <label for="filter-input" class="custom-range-label" id='filter-label'>
                    <span  class="label"> Filter</span>
                    <span  class="value">1</span>
                </label>
                <input type="range" 
                    min="0" 
                    max="1" 
                    value='1'
                    step='0.1'
                    class="custom-range-input" id="filter-input" name="points1" >
            </div>
            <div class="container">
                <div class="row g-0">
                    <div class="col col-button">
                        <button type="button" id='reset' class="btn btn-primary">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            